{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src= "{{ s.image }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
  {% endif %}
  <div class="profile_box" style="padding-top:18px;">
    <a href='https://clustrmaps.com/site/1bx7i'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=58b0c1&w=210&t=tt&d=_Jml0QSgqhGcb6TbiOqL_cHOkBSQkGNlzS6RVSXKQpk&co=ffffff&ct=09364f'/></a>
  </div>
  </div>
{% endif %}